#nav-links {
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#nav-links a {
    color: #DADCAC;
    font-weight: bold;
}

.active {
    color: #789B8A !important;
}